.pirate{
    position: absolute;
    left: 12%;
}

.pirate_island_2{
    position: absolute;
    left: 45%;
    top: 5%;
}

.pirate_island_3{
    position: absolute;
    right: 12%;
    top: 7%;
}

.pirate_island_4{
    position: absolute;
    left: 40%;
    top: 50%;
}


.pirate_island_5{
    position: absolute;
    left:11%;
    top: 70%; 
}

.pirate_island_6{
    position: absolute;
    right: 12%;
    top: 65%;
}