
.opened_sidebar{
    background-color: azure;
    width: 25vw; 
    position: absolute;
    height: 100vw;
    right: 0%;
}

.browse_map{
    height: 15vh;
    width: 9vw;   
    margin-left: 32%;
    margin-top: 20%; 
}

.roll_dice{
    width: fit-content;
    margin-left: 44%;
    margin-top: 20%; 
    border-radius: 1px;;
}

.closed_sidebar{
    width: 2vw;
    background-color: azure;
    position: absolute;
    height: 100%;
    float: right;
    opacity: 0.8;
    right: 0%;
    justify-content: center;
    display: flex;
}

.dice_img{
    max-width: 200px;
    max-height: 200px;
    margin-left: 36%;
    margin-top: 20%; 
}



