.sea{
    position: absolute;
}

.island_one{
    position: absolute;
    width: 100%;
    left: 10%;
    top: 20%;
}

.island_two{
    position: absolute;
    left: 40%;
    top: 15%;
}

.island_three{
    position: absolute;
    right: 5%;
    top: 15%;
}

.island_four{
    position: absolute;
    right: 45%;
    top: 40%; 
    
}


.island_five{
    position: absolute;
    left:10%;
    top: 90%; 
}

.island_six{
    position: absolute;
    right: 5%;
    top: 50%;
}

.island_num{
    background-color: red;
    border-color: black;
    border-style: solid;
    border-width:2px;
    border-radius: 50%;
    width: 50px;
    height: 50px;   
    justify-content: center;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}